<!DOCTYPE html>
<html>
  <head>
    <title>Hack</title>
    <link rel="shortcut icon" href="https://github.com/snigdhabanda/Hack/blob/main/app/assets/images/slack-logo-dark-purple.png?raw=true"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Poppins:wght@600&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    
    </head>

  <body>
    <%= yield %>

      
  </body>
</html>
